$colors: (
  primary: #595454, //grey
  mainText: #383535,
  textColor: #9b9b9b,
  title: rgb(219, 219, 219),
  footer: rgb(42, 42, 42),
  graphPrimary: rgb(110, 174, 125),
  graphSecondary: rgb(141, 103, 165),
  link: rgb(174, 205, 225),
	inactiveDot: rgba(56,53,53,.87),
  activeDot: #65A1C7,
  blue: #5A97C0,
  gray: #504B4B,
  black: #312E2F
);

$breakpoints: (
  phone: 400px,
  phone-lg: 649px,
  tablet: 767px,
  tablet-lg: 991px,
  desktop: 1300px
);

@function config($key) {
  @if map-has-key($configs, $key) {
    @return map-get($configs, $key);
  }
  @warn "unknown #{$key} in configs map";
  @return null;
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown #{$key} in colors map";
  @return null;
}

@function breakpoint($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }
  @warn "Unknown #{$key} in breakpoints map";
  @return null;
}
