/* Stolen from BlueRobot.com */

body {
   margin:0.5in; 
   padding:0px;
   font-family:verdana, arial, helvetica, sans-serif;
   color:#333;
   background-color:white;
   }
h1 {
   margin:0px 0px 15px 0px;
   padding:0px;
   font-size:28px;
   line-height:28px;
   font-weight:900;
   color:#ccc;
   }
h2 {
   margin-top: 0.25in;
}
li {
   font: 12pt/16pt times new roman, times, serif;
}


p {
   font: 12pt/16pt times new roman, times, serif;
   padding: 0px;
}

table {
  font: 12px/20px verdana, arial, helvetica, sans-serif;
  padding: 0;
  border: solid 1px;
}

tr:nth-child(2n+1) {   
    background: #cfcfcf;
}

tr {
    vertical-align: top;
}

tr.header {
    color: #ffffff;
    background: #555555;
}

td {
    padding: 0 0.1in 0 0.1in;
}


a {
   color:#09c;
   text-decoration:none;
   font-weight:600;
}

a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}


