<div class="home__section">
	<h1 class="home__title">Time to Meet the Team</h1>
</div>

<div class="home__blog--wrap">
	<div class="about">
	  <div class="about__person-wrap">
  		<h4 class="about__name">Terry Ott</h4>
    </div>
  	<img class="about__headshot" src="/images/terry.png">
	  <div class="about__person-wrap">
      <div class="about">
    		<p class="about__p">
          Growing up in Denver, Colorado, I'd often ask my parents if they'd let me call the <a href="https://www.nist.gov/pml/time-and-frequency-division/services/telephone-time-day-ttds">NIST Telephone Time-of-Day Service</a> in the nearby city of Boulder to hear the current time according to the atomic clocks.
        </p>
    	</div>
      <div class="about">
    		<p class="about__p">
          During my college years, friends rolled their eyes when they saw me calibrating my wristwatch with the atomic time on the University central servers. As I became deeply interested in Linux system adminstration, it was a near-certainty to find an NTP daemon running on any host I had root privs on.
        </p>
    	</div>
      <div class="about">
    		<p class="about__p">
          I founded PublicNTP in 2008 based on a deeply-held belief that highly-accurate time data should be provided as an unrestricted public service, open to all systems on the Internet.
        </p>
    	</div>
      <div class="about">
    		<p class="about__p">
          With a personal goal to contribute to PublicNTP by donating time to personally install stratum one servers in portions of the world where the network has relatively few accurate, reliable, low-latency NTP servers, the project doubles as an excellent opportunity for me to travel to relatively-exotic locations—something I enjoy immensely.
        </p>
    	</div>
    		<p class="about__spec">
          Location: <span class="about__emph">Northern Virginia (Washington DC metro area)</span>
        </p>
    		<p class="about__spec">
          Occupation: <span class="about__emph">Software Engineer</span>
        </p>
    		<p class="about__spec">
          Involved Since: <span class="about__emph">the very beginning. Project officially launched on 13 February 2008, though the domain was created at 2008-02-12, 22:13:16 UTC according to the whois data for publicntp.org</span>
        </p>
    		<p class="about__spec">
          Favorite superhero: <span class="about__emph">Wolverine. One word: adamantium!</span>
        </p>
  		</p>
  	</div>
  </div>
</div>
<div class="home__section">
</div>
<div class="home__section">
</div>
