<a href="/admin/posts/new">New Post</a>
<a href="/admin/category/new">New Category</a>
<h1>Blog Admin</h1>
{{#each posts}}
	<div class="">
		<p>{{this.title}}<p>
		<p>{{this.time}}<p>
		<a href="/admin/posts/{{this.id}}/destroy">Delete Post<a>
	</div>
{{/each}}
