<a href="/admin/posts/new">New Post</a>
<a href="/admin/categories/new">New Category</a>
<h1>Blog Admin</h1>
{{#each posts}}
	<div class="">
		<p>{{this.title}}<p>
		<p>{{this.time}}<p>
		<a style="margin-bottom: 30px;" href="/admin/posts/{{this.id}}/edit">Edit Post</a>
		<br>
		<br>
		<a href="/admin/posts/{{this.id}}/destroy">Delete Post<a>
		<br>
		<br>
		<br>
	</div>
{{/each}}
