<div class="home__section">
	<a href="{{relative_path}}learn.html" class="blog-detail__back">
		Back
		<img class="blog-detail__back-icon" src="{{relative_path}}images/back.svg" alt="Back Arrow">
	</a>
	<h1 class="home__title">The Amazing Atomic Clock</h1>
</div>
<div class="home__section">
	<iframe class="home__frame" src="https://www.youtube.com/embed/dS3MkLamhI8"></iframe>
</div>