<div class="home__section">
	<a href="/blog" class="blog-detail__back">
		Back
		<img class="blog-detail__back-icon" src="/images/back.svg">
	</a>
</div>
<div class="home__section">
	<h1 class="blog-detail__title">{{post.title}}</h1>
</div>
<div class="home__section">
	<p class="blog-detail__time">
		{{post.time}}
	</p>
	<div class="blog-detail__side">
		<img class="blog-detail__hero" src="{{post.image_url}}">
	</div>
	<div class="blog-detail__content">
		<div class="blog-detail__article">
			{{{post.content}}}
		</div>
	</div>
</div>

<div class="home__section"></div>
<div class="home__section"></div>
