<div class="home__section">
	<a href="/learn.html" class="blog-detail__back">
		Back
		<img class="blog-detail__back-icon" src="/images/back.svg">
	</a>
</div>
<div class="home__section">
	<h1 class="home__title">“-Ology-of-ologies”: Chrono and Friends</h1>
	<p class="home__sub-title">
    Terry D. Ott - 2017-06-18, 7:58pm EDT (UTC -0400)
  </p>
</div>
<div class="home__section">
	<div class="how">
		<h4 class="how__title">Introduction</h4>
		<div class="how__third">
			<p class="how__paragraph">
        When I first got interested in the Network Time Protocol, I would joke with friends that I was an amateur chronologist.
        <br><br>
        One friend smiled knowingly at me and said, “I would encourage you to look up the definition of ‘chronology,’ Terry. Suspect you’ll find out you’re misusing that word.
			</p>
		</div>
		<div class="how__third">
			<p class="how__paragraph">
        Chrono: time.  -logy: the study of something. That should work, right?
        <br><br>
        Turns out, not quite.
			</p>
		</div>
		<div class="how__third">
			<p class="how__paragraph">
        As I care about a time down to a microsecond, clearly accuracy matters to me.  That often carries over to my use of English, too.
        <br><br>
        Time to go find the right word!
      </p>
		</div>
	</div>
	<div class="how">
		<h4 class="how__title">Chronology</h4>
		<div class="how__third">
			<p class="how__paragraph">
        Chronology is the science/study of ascertaining the order that historical dates/events occurred.
			</p>
		</div>
		<div class="how__third">
			<p class="how__paragraph">
        Nope, not the word I wanted. So chrono is wrong. I am trying to measure time.  After a brief search, I found the prefix for measurement is “metro.”
			</p>
		</div>
		<div class="how__third">
		</div>
	</div>
	<div class="how">
		<h4 class="how__title">Metrology</h4>
		<div class="how__third">
			<p class="how__paragraph">
        Metrology is the science of weights and measures; the study of units of measurement.
			</p>
		</div>
		<div class="how__third">
			<p class="how__paragraph">
        Closer, but still too general—I am not talking about measuring anything, can we be more specific and get it to measurement of time?
			</p>
		</div>
		<div class="how__third">
		</div>
	</div>
	<div class="how">
		<h4 class="how__title">Horology</h4>
		<div class="how__third">
			<p class="how__paragraph">
        After a bit of searching, I found it:
        <br><br>
        Horology is the science of making timepieces or measuring time.
			</p>
		</div>
		<div class="how__third">
			<p class="how__paragraph">
        It comes from the greek word hour, for “season.”  While “study of the seasons” isn’t a great direct translation, it’s still the word I was looking for.
      </p>
		</div>
		<div class="how__third">
			<p class="how__paragraph">
        As a result of this little research endeavor, instead of calling myself an “amateur chronologist,” I now refer to myself as an “amatueur horologist,” and can now be confident I am not misusing any of the words!
      </p>
		</div>
	</div>
</div>

<div class="home__section"></div>
<div class="home__section"></div>
