<div class="home__section">
	<h1 class="home__title">Connect with PublicNTP</h1>
	<p class="home__sub-title">
		Sign up for our newsletter. Or drop us a line at 
		<a href="mailto:contact@publicntp.org" class="connect__link">contact@publicntp.org</a>.
	</p>
</div>
<div class="home__section">
	<div class="connect__section">
		<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
		<form id="contact-form" method="POST" action="URL" target="hidden_iframe">
		<form class="connect__form">
			<input name="name" placeholder="Name" class="connect__input">
			<input name="email" placeholder="Email" class="connect__input">
			<p class="connect__submit" id="connect-submit">Sign Up</p>
		</form>
	</div>
	<div class="connect__section">
		<h3 class="connect__title">
			How to connect with PublicNTP servers.
		</h3>
		<p class="connect__paragraph">
			If you just want to synchronise your computers clock to the network, the configuration file
			 (for the ntpd program from the ntp.org distribution, on any supported operating system -
			Linux, *BSD, Windows and even some more erotic systems) is really simple:
		</p>
		<p class="connect__paragraph">
			driftfile /var/lib/ntp/ntp.drift
		</p>
		<ul class="connect__ul">
			<li class="connect__li">server 0.pool.ntp.org</li>
			<li class="connect__li">server 1.pool.ntp.org</li>
			<li class="connect__li">server 2.pool.ntp.org</li>
			<li class="connect__li">server 3.pool.ntp.org</li>
		</ul>
		<p class="connect__paragraph">
			The 0, 1, 2, and 3.pool.ntp.org names point to a random set of servers that will change every hour.
			Make sure your computer's clock is set to something sensible (within a few minutes of the 'true' time) -
			you could use ntpdate pool.ntp.org, or you could just use the date command and set it to your wristwatch.
			Start ntpd, and after some time (this could take as long as half an hour!), ntpq = pn should output'
			something like:	
		</p>
		<p class="connect__paragraph">
			$ ntpq -pn
		</p>
		<p class="connect__paragraph">
			The IP addresses will be different, because you've been assigned random timeservers. The essential
			thing is that one of the lines starts with an asterisk (*), this means your computer gets
			the time from the internet - you'll never have to worry about it again!
		</p>
		<p class="connect__paragraph">
			Looking up pool.ntp.org (or 0.pool.ntp.org, 1.pool.ntp.org, etc_ will usually return IP addresses for
			servers in or close to your country. For most users this will give the best results.
		</p>
		<p class="connect__paragraph">
			You can also use the continental zones (For example europe, north-america, oceania or asia.pool.ntp.org),
			and a country zone (like ch.pool.ntp.org in Switzerland) - for all these zones, you can again use the
			0, 1, or 2 prefixes, like 0.ch.pool.ntp.org. Note, however, that the country zone might not exist for
			your country, or might contain only one or two timeservers.
		</p>
		<p class="connect__paragraph">
			If you're using a recent Windows version, you can use the ntp client that is built into the system.
			As administrator enter
		</p>
		<p class="connect__paragraph">
			w32tm /config /syncfromflags:manual /manualpeerlist:"0.pool.ntp.org 1.pool.ntp.org 2.pool.ntp.org
			3.pool.ntp.org"
		</p>
		<p class="connect__paragraph">
			at the command prompt. This will work on Windows 2003 and newer. If you use an older version of windows
			you can try
		</p>
		<p class="connect__paragraph">
			net time /setsntp:"0.pool.ntp.org 1.pool.ntp.org 2.pool.ntp.org"
		</p>
		<p class="connect__paragraph">
			The same can be achieved by, as administrator, right-clicking the clock in the taskbar, selecting 'Adjust Date/Time' and entering the server name in the 'Internet Time' tab.
		</p>
		<p class="connect__paragraph">
			Meinber made a port of the ntp daemon for windows.
		</p>
		<p class="connect__paragraph">
			If your Windows system is part of a domain, you might not be able to independently update your
		</p>
	</div>
</div>
