<div class="home__section">
	<h1 class="home__title">The PublicNTP Project</h1>
	<p class="home__sub-title">
		The PublicNTP Project provides unrestricted access to no-cost, highly-accurate time sources for the public good.
	</p>
</div>

<div class="home__section">
	<div class="home">
		<div class="home__world">
			<div class="home__signal-wrap">
				<div class="home__signal"></div>		
				<div class="home__signal-bar"></div>		
				<div class="home__signal-ball"></div>		
			</div>
			<div class="home__signal-wrap home__signal-flip">
				<div class="home__signal"></div>		
				<div class="home__signal-bar"></div>		
				<div class="home__signal-ball"></div>		
			</div>
			<img class="home__world-image" src="/images/world.png">
		</div>
		<div class="home__sidebar">
			<h2 class="home__sidebar-title">Servers</h2>
			<h4 class="home__sidebar-sub-title">Bangalore</h4>
			<p class="home__info">
				Continent: <span class="home__emph">Asia</span>
			</p>
			<p class="home__info">
				Country: <span class="home__emph">India</span>
			</p>
			<div class="home__spacer"></div>
			<p class="home__info">
				Live Date: <span class="home__emph">2017-01-09</span>
			</p>
			<div class="home__spacer"></div>
			<p class="home__info">
				Hostname (IPv6):
				<span class="home__emph"> stratum2-01.bir01.publicntp.org</span>
			</p>
		</div>
	</div>
</div>

<div class="home__section">
	<h1 class="home__title home__title--right">PublicNTP Experience</h1>
</div>

