<div class="home__section">
	<h1 class="home__title">The PublicNTP Project</h1>
	<p class="home__sub-title">
		The PublicNTP Project provides unrestricted access to no-cost, highly-accurate time sources for the public good.
	</p>
</div>

<div class="home__section">
	<h1 class="home__title home__title--right">PublicNTP Experience</h1>
</div>

