<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PublicNTP</title>
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  </head>
  <body>
	<div class="wrap">
		<div class="header__mobile-wrap">
			<img class="header__mobile-x" id="mobile-close" src="/images/x-light.svg">
			<a href="/history" class="header__item-mobile">History</a>
			<a href="/blog" class="header__item-mobile">blog</a>
			<a href="/stats" class="header__item-mobile">stats</a>
			<a href="/learn" class="header__item-mobile">Learn</a>
			<a href="/connect" class="header__item-mobile header__connect">Connect</a>
		</div>
		<header class="header">
			<a href="/">
				<img class="header__logo" src="/images/publicNTPLogo.png">
			</a>
			<a href="/connect" class="header__item header__connect">Connect</a>
			<a href="/learn" class="header__item">Learn</a>
			<a href="/stats" class="header__item">stats</a>
			<a href="/blog" class="header__item">blog</a>
			<a href="/history" class="header__item">History</a>
			<img class="header__mobile-icon" id="mobile-icon" src="/images/list-menu.svg">
		</header>
		{{{ body }}}
		<footer class="footer">
			<div class="footer__sites">
				<h3 class="footer__other-title">
					Other Great NPT Sites
				</h3>
				<a href="http://www.pool.ntp.org/en/" class="footer__other-link">NPT Pool</a>
				<a href="http://www.ntp.org/" class="footer__other-link">NTP</a>
				<a href="http://www.networktimefoundation.org/" class="footer__other-link">Network Time Foundation</a>
			</div>
			<div class="footer__right">
				<h3 class="footer__title">
					Learn how you can connect and help, or foolow us on LinkedIn.
				</h3>
				<a href="/">
					<img class="footer__linkedin" src="/images/linkedin.png">
				</a>
				<a href="/connect" class="footer__connect">Connect</a>
				<a href="/terms-of-use" class="footer__right-link">Terms of Use</a>
				<a href="/privacy" class="footer__right-link">Privacy Policy</a>
				<p class="footer__right-link">Copyright 2017</p>
			</div>
		</footer>
	</div>
  </body>
  <script src="/js/dropdown.js"></script>
  <script src="/js/main.js"></script>
</html>
