<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PublicNTP</title>
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  </head>
  <body>
	<header class="header">
		<a href="/">
			<img class="header__logo" src="/images/publicNTPLogo.png">
		</a>
		<a href="/connect/" class="header__item header__connect">Connect</a>
		<a href="/learn/" class="header__item">Learn</a>
		<a href="/stats/" class="header__item">stats</a>
		<a href="/blog/" class="header__item">blog</a>
		<a href="/history/" class="header__item">History</a>
	</header>
    {{{ body }}}
	<footer class="footer">
		<div class="footer__sites">
      		<h3 class="footer__other-title">
				Other Great NPT Sites
			</h3>
			<a href="/" class="footer__other-link">NPT Pool</a>
			<a href="/" class="footer__other-link">Website 2</a>
			<a href="/" class="footer__other-link">Yet Another Site</a>
			<a href="/" class="footer__other-link">Fourth Link</a>
		</div>
		<div class="footer__right">
			<h3 class="footer__title">
				Learn how you can connect and help, or foolow us on LinkedIn.
			</h3>
			<a href="/">
				<img class="footer__linkedin" src="/images/linkedin.png">
			</a>
			<a href="/connect" class="footer__connect">Connect</a>
			<a href="/terms-of-use" class="footer__right-link">Terms of Use</a>
			<a href="/privacy" class="footer__right-link">Privacy Policy</a>
			<p class="footer__right-link">Copyright 2017</p>
		</div>
	</footer>
  </body>
  <script src="/js/dropdown.js"></script>
  <script src="/js/blog.js"></script>
  <script src="/js/main.js"></script>
</html>
