<div class="home__section">
	<h1 class="home__title">Rediscover Time</h1>
	<p class="home__sub-title">
		Have you ever wondered how GPS or an atomic clock works? How did we decide how long a second is?
		Well, now you know.
	</p>
</div>

<div class="home__section">
	<div class="category">
		<a href="/history.html">
			<img src="/images/clock.png" class="category__image">
		</a>
		<h3 class="category__title">
			How does GPS work?
		</h3>
		<div class="node-clear"></div>
		<a href="/history.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="/learn/atomic-clock.html">
			<img src="/images/atom.png" class="category__image">
		</a>
		<h3 class="category__title">
			How does an atomic clock work?
		</h3>
		<div class="node-clear"></div>
		<a href="/learn/atomic-clock.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="/history.html">
			<img src="/images/rock.png" class="category__image">
		</a>
		<h3 class="category__title">
			How is a raven lake a writing desk?
		</h3>
		<div class="node-clear"></div>
		<a href="/history.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="/history.html">
			<img src="/images/grumpy.png" class="category__image">
		</a>
		<h3 class="category__title">
			How is a raven lake a writing desk?
		</h3>
		<div class="node-clear"></div>
		<a href="/history.html" class="category__button">Learn More</a>
	</div>
</div>

<div class="home__section"></div>
<div class="home__section"></div>
