<form action='/admin/posts/new' method='POST' enctype="multipart/form-data">
	<select name='category'>
		{{#each categories}}
			<option value="{{this.name}}">{{this.name}}</option>
		{{/each}}
	</select>
	<br>
	<input name='title' placeholder='Title'>
	<br>
	<input type="file" name='image_upload' placeholder='Image Upload' multiple>
	<br>
	<textarea name='excerpt' placeholder='Excerpt'></textarea>
	<br>
	<textarea name="content" placeholder="content"></textarea>
	<br>
	<textarea name="tags" placeholder="Tags"></textarea>
	<br>
	<input type='submit' value='Submit'>
</form>
