<div class="report__section">
	<div class="report__section-half">
	</div>
	<div class="report__section-half">
	</div>
</div>
<div class="report__section">
	<div class="report__graph" id="report-graph">
		{{#each rows}}
			<div class="report__row">
				<p class="report__row-label">{{this}}</p>
			</div>
		{{/each}}

		{{#each points}}
			<div class="report__bar-green report__bar-init" style="height: {{this.g}}%;">
				<div class="report__bar-purple report__bar-init" style="height: {{this.p}}%;"></div>
			</div>
		{{/each}}
		<p class="report__graph-y">
			Packets/sec		
		</p>
	</div>
	<div class="report__graph">
		<div class="report__graph-x">
			<p class="report__graph-column">Monday</p>	
			<p class="report__graph-column">Tuesday</p>	
			<p class="report__graph-column">Wednesday</p>	
			<p class="report__graph-column">Thursday</p>	
			<p class="report__graph-column">Friday</p>	
			<p class="report__graph-column">Saturday</p>	
			<p class="report__graph-column">Sunday</p>	
		</div>
		<p class="report__graph-x report__graph-x--center">
			Week	
		</p>
	</div>
</div>
