<div class="home__section">
	<a href="{{relative_path}}" class="blog-detail__back">
		Back
		<img class="blog-detail__back-icon" src="{{relative_path}}images/back.svg" alt="Back Arrow">
	</a>
</div>
<div class="home__section">
	<h1 class="home__title">Connect with PublicNTP</h1>
</div>
