<div class="home__section">
	<a href="/" class="blog-detail__back">
		Back
		<img class="blog-detail__back-icon" src="/images/back.svg">
	</a>
</div>
<div class="home__section">
	<h1 class="home__title">Connect with PublicNTP</h1>
</div>
