.opaque {
  opacity: 0 !important; }

.restrict {
  max-width: 1300px; }

.pull--right {
  float: right; }

.pull--left {
  float: left; }

.node-clear:before,
.node-clear:after {
  content: " ";
  display: table; }

.node-clear:after {
  clear: both; }

.pull--left {
  float: left !important; }

.pull--right {
  float: right !important; }

.hide {
  display: none !important; }

.full-wrap {
  width: 100%;
  float: left; }

.clear-margin {
  margin: 0 !important; }

.center-width {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-family: sans-serif; }

.wrap {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden; }

.blog {
  width: 100%;
  float: left;
  margin-bottom: 60px; }
  .blog__bar {
    width: 2px;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 34%;
    background: -webkit-linear-gradient(white, black, white);
    background: linear-gradient(white, black, white); }
    @media screen and (max-width: 767px) {
      .blog__bar {
        display: none; } }
  .blog__excerpt {
    width: calc(66% - 200px);
    float: left;
    line-height: 2;
    color: #9b9b9b;
    padding: 0 40px;
    font-size: 10px;
    display: block;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .blog__excerpt {
        width: 100%;
        padding: 0; } }
  .blog__image {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    float: right; }
    @media screen and (max-width: 767px) {
      .blog__image {
        height: 250px;
        width: 100%; } }
  .blog__left-wrap {
    display: block;
    text-decoration: none;
    width: 34%;
    float: left; }
    @media screen and (max-width: 767px) {
      .blog__left-wrap {
        width: 100%; } }
  .blog__sidebar {
    width: 200px;
    float: right; }
  .blog__search {
    float: right;
    padding: 8px 40px;
    background: #2a2a2a;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    border: 1px solid #2a2a2a; }
    .blog__search:hover {
      background: white;
      color: #2a2a2a; }
  .blog__search-bar-wrap {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden; }
  .blog__search-input-hide {
    max-height: 0;
    padding: 0 !important;
    border: none !important; }
  .blog__search-input {
    width: 100%;
    float: left;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid #2a2a2a;
    color: #2a2a2a;
    padding: 5px;
    outline: none;
    -webkit-transition: .3s;
    transition: .3s; }
  .blog__time {
    width: 100%;
    float: left;
    color: #9b9b9b; }
  .blog__title {
    width: 100%;
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
    color: #2a2a2a; }
  .blog__wrap {
    width: calc(100% - 200px);
    float: left;
    position: relative; }
    @media screen and (max-width: 991px) {
      .blog__wrap {
        width: 100%; } }
  .blog__x {
    display: block;
    position: absolute;
    top: 9px;
    cursor: pointer;
    right: 0;
    width: 12px;
    height: 12px;
    -o-object-fit: contain;
       object-fit: contain; }

.blog-detail__article {
  font-size: 10px;
  color: #2a2a2a;
  line-height: 2; }
  .blog-detail__article p {
    margin-bottom: 20px; }

.blog-detail__back {
  float: left;
  padding: 0 20px;
  position: relative;
  color: #9b9b9b;
  text-decoration: none;
  display: block;
  font-size: 11px;
  margin-bottom: 30px;
  -webkit-transition: .3s;
  transition: .3s; }
  .blog-detail__back:hover {
    color: #2a2a2a; }

.blog-detail__back-icon {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 1px; }

.blog-detail__content {
  width: 60%;
  float: left;
  padding-right: 60px; }
  @media screen and (max-width: 767px) {
    .blog-detail__content {
      width: 100%;
      padding: 0; } }

.blog-detail__hero {
  width: 100%;
  height: auto;
  margin-bottom: 30px; }

.blog-detail__side {
  width: 40%;
  float: right; }
  @media screen and (max-width: 767px) {
    .blog-detail__side {
      width: 100%; } }

.blog-detail__time {
  width: 100%;
  float: left;
  margin-bottom: 40px;
  color: #9b9b9b;
  font-size: 14px; }

.blog-detail__title {
  width: 100%;
  float: left;
  font-size: 60px;
  font-weight: 500; }
  @media screen and (max-width: 767px) {
    .blog-detail__title {
      font-size: 40px; } }

.connect__input {
  width: 100%;
  float: left;
  color: #9b9b9b;
  padding: 5px;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  margin-bottom: 20px; }

.connect__link {
  text-decoration: none;
  color: #aecde1; }

.connect__paragraph {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  font-size: 12px;
  color: #2a2a2a;
  line-height: 1.8; }

.connect__section {
  width: 50%;
  float: left;
  padding-right: 80px; }
  .connect__section:nth-child(2) {
    border-left: 2px solid #2a2a2a;
    padding-left: 80px;
    padding-right: 0px; }
    @media screen and (max-width: 991px) {
      .connect__section:nth-child(2) {
        border: none;
        padding-left: 0px; } }
  @media screen and (max-width: 991px) {
    .connect__section {
      width: 100%;
      padding: 0;
      margin-bottom: 30px; } }

.connect__submit {
  float: left;
  padding: 10px 20px;
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
  margin-top: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer; }
  .connect__submit:hover {
    color: white;
    background: #9b9b9b; }

.connect__title {
  width: 100%;
  float: left;
  color: #2a2a2a;
  margin-bottom: 25px;
  font-size: 28px; }

.connect__ul {
  list-style: none;
  margin-bottom: 30px;
  color: #2a2a2a;
  line-height: 1.8;
  font-size: 12px; }

.category {
  width: 25%;
  float: left;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .category__button {
    padding: 10px 20px;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    color: #9b9b9b;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s; }
    .category__button:hover {
      background: #9b9b9b;
      color: white; }
  .category__image {
    width: 100%;
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
    float: left;
    display: block; }
  .category__title {
    width: 100%;
    float: left;
    font-size: 20px;
    height: 50px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #2a2a2a;
    text-align: center; }
  @media screen and (max-width: 991px) {
    .category {
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .category {
      width: 100%; } }

.dropdown {
  width: 100%;
  float: left;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  background: white;
  position: absolute;
  top: 40px;
  z-index: 300; }
  .dropdown__arrow {
    width: 11px !important; }
  .dropdown__close {
    position: absolute;
    top: 10px;
    right: 0;
    width: 15px;
    height: 15px;
    pointer-events: none; }
  .dropdown__close-right {
    width: 19px;
    height: 2px;
    background: black;
    position: absolute;
    top: 3px;
    right: 0;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform-origin: 80% 0%;
            transform-origin: 80% 0%; }
  .dropdown__close-left {
    width: 19px;
    position: absolute;
    top: 3px;
    left: 0;
    height: 2px;
    background: black;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform-origin: 20% 40%;
            transform-origin: 20% 40%; }
  .dropdown__input {
    font-size: 20px;
    width: 100%;
    float: left;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer; }
  .dropdown__item {
    width: 100%;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    padding: 5px; }
    .dropdown__item:hover {
      border-bottom: 1px solid #9b9b9b; }
  .dropdown__show {
    max-height: 300px; }
  .dropdown__wrap {
    width: 100%;
    float: left;
    position: relative; }

.footer {
  width: 100%;
  float: left;
  padding: 40px 60px 60px 60px;
  background: #2a2a2a; }
  .footer__connect {
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    margin-right: 10px;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #9b9b9b;
    -webkit-transition: .3s;
    transition: .3s; }
    .footer__connect:hover {
      background: #9b9b9b;
      color: white; }
  .footer__linkedin {
    width: 32px;
    height: auto;
    display: block;
    float: right;
    margin-bottom: 30px; }
  .footer__other-link {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 10px;
    color: #9b9b9b; }
  .footer__other-title {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    color: #dbdbdb;
    font-size: 16px; }
  .footer__right {
    width: calc(100% - 200px);
    float: right; }
    @media screen and (max-width: 767px) {
      .footer__right {
        width: 100%;
        margin-top: 10px; } }
  .footer__right-link {
    width: 100%;
    float: left;
    color: #9b9b9b;
    display: block;
    text-align: right;
    margin-bottom: 10px;
    font-size: 10px;
    text-decoration: none; }
  .footer__sites {
    width: 200px;
    float: left; }
    @media screen and (max-width: 767px) {
      .footer__sites {
        width: 100%;
        text-align: right; } }
  .footer__title {
    width: 100%;
    float: left;
    margin-bottom: 25px;
    color: #dbdbdb;
    font-size: 16px;
    text-align: right; }

.header {
  width: 100%;
  float: left;
  padding: 20px 70px;
  position: relative; }
  .header__connect {
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    margin-left: 10px; }
    @media screen and (max-width: 767px) {
      .header__connect {
        width: auto !important; } }
    .header__connect:hover {
      background: #9b9b9b;
      color: white; }
  .header__item {
    margin-top: 20px;
    display: block;
    float: right;
    font-size: 13px;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #9b9b9b;
    -webkit-transition: .3s;
    transition: .3s; }
    @media screen and (max-width: 767px) {
      .header__item {
        display: none; } }
  .header__item-mobile {
    display: block;
    float: right;
    text-align: right;
    width: 100%;
    font-size: 13px;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white; }
    .header__item-mobile:hover {
      border-bottom: 1px solid white; }
  .header__logo {
    display: block;
    width: 200px;
    height: auto;
    float: left; }
  .header__mobile-x {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer; }
  .header__mobile-icon {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 34px;
    -webkit-transform: rotateZ(0deg) scale(1);
            transform: rotateZ(0deg) scale(1);
    cursor: w-resize;
    -webkit-transition: .3s;
    transition: .3s; }
    @media screen and (max-width: 767px) {
      .header__mobile-icon {
        display: block; } }
    .header__mobile-icon.shrink {
      -webkit-transform: rotateZ(360deg) scale(0);
              transform: rotateZ(360deg) scale(0); }
  .header__mobile-wrap {
    display: none;
    width: 300px;
    position: absolute;
    right: -300px;
    top: 0;
    padding: 60px 10px 0 10px;
    height: 100vh;
    background: #2a2a2a;
    z-index: 200;
    -webkit-transition: .3s;
    transition: .3s; }
    @media screen and (max-width: 767px) {
      .header__mobile-wrap {
        display: block; } }
    .header__mobile-wrap.pull-out {
      right: 0; }
  @media screen and (max-width: 767px) {
    .header {
      padding: 20px; } }

.how {
  width: 100%;
  float: left;
  border-top: 2px solid #2a2a2a; }
  .how__image {
    padding: 40px;
    padding-top: 0;
    width: 100%;
    height: 200px;
    -o-object-fit: contain;
       object-fit: contain; }
  .how__sub-title {
    width: 100%;
    font-weight: 600;
    color: #2a2a2a;
    font-size: 10px;
    margin-bottom: 25px;
    float: left; }
    @media screen and (max-width: 767px) {
      .how__sub-title {
        margin-bottom: 15px; } }
  .how__title {
    color: #2a2a2a;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    margin-top: 15px; }
  .how__third {
    width: 33.33%;
    float: left;
    padding-right: 20px;
    line-height: 2;
    font-size: 10px;
    font-weight: 600;
    color: #2a2a2a; }
    .how__third:nth-child(3) {
      padding-right: 0px; }
    @media screen and (max-width: 767px) {
      .how__third {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px; } }

.home {
  width: 100%;
  float: left;
  padding: 150px 0; }
  .home__blog {
    width: 100%;
    float: left;
    margin-top: 20px; }
  .home__blog-image {
    margin-top: 60px;
    width: 30%;
    float: left;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    float: left; }
    @media screen and (max-width: 767px) {
      .home__blog-image {
        width: 100%; } }
  .home__blog-p {
    width: 50%;
    font-size: 12px;
    color: #9b9b9b;
    line-height: 1.7;
    float: left;
    padding-left: 40px; }
    @media screen and (max-width: 767px) {
      .home__blog-p {
        margin-top: 20px;
        padding-left: 0;
        width: 100%; } }
  .home__blog-title {
    width: 70%;
    color: #2a2a2a;
    font-size: 20px;
    margin-bottom: 30px;
    float: right;
    padding-left: 40px; }
    @media screen and (max-width: 767px) {
      .home__blog-title {
        width: 100%;
        padding: 0;
        text-align: right; } }
  .home__emph {
    color: #2a2a2a; }
  .home__info {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    font-size: 13px;
    color: #9b9b9b; }
  .home__location {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    border: 1px solid transparent;
    cursor: pointer; }
    .home__location:hover {
      border: 1px solid #9b9b9b; }
  .home__location-ball {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    background: #2a2a2a;
    -webkit-transition: .3s;
    transition: .3s; }
  .home__section {
    width: 100%;
    float: left;
    padding: 40px 70px; }
    @media screen and (max-width: 767px) {
      .home__section {
        padding: 40px 20px; } }
  .home__sidebar {
    width: 350px;
    float: right; }
    @media screen and (max-width: 767px) {
      .home__sidebar {
        width: 100%;
        margin-top: 150px; } }
  .home__sidebar-title {
    width: 100%;
    float: left;
    margin-bottom: 60px;
    font-size: 70px; }
    @media screen and (max-width: 767px) {
      .home__sidebar-title {
        font-size: 45px; } }
  .home__sidebar-sub-title {
    width: 100%;
    float: left;
    color: #2a2a2a;
    margin-bottom: 40px;
    font-size: 24px; }
  .home__sidebar-wrap {
    width: 100%;
    float: left;
    display: none; }
    .home__sidebar-wrap.show {
      display: block; }
  .home__signal {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    border: 1px solid #9b9b9b;
    -webkit-animation: signal 1.5s infinite linear;
            animation: signal 1.5s infinite linear; }
  .home__signal-bar {
    width: 2px;
    height: 120px;
    bottom: 0;
    position: absolute;
    left: calc(50% - 1px);
    background: -webkit-linear-gradient(black, white);
    background: linear-gradient(black, white); }
  .home__signal-ball {
    width: 15px;
    height: 15px;
    position: absolute;
    left: calc(50% - 7.5px);
    background: black;
    border-radius: 7.5px;
    top: 12.5px; }
  .home__signal-wrap {
    width: 40px;
    height: 140px;
    position: absolute;
    left: 30%;
    top: -150px; }
  .home__signal-flip {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: auto;
    bottom: -150px; }
  .home__spacer {
    width: 100%;
    float: left;
    margin-bottom: 20px; }
  .home__sub-title {
    width: 100%;
    float: left;
    color: #9b9b9b;
    font-size: 12px;
    line-height: 1.5; }
  .home__title {
    width: 100%;
    font-size: 60px;
    margin-bottom: 20px;
    float: left; }
    .home__title--right {
      text-align: right; }
    @media screen and (max-width: 767px) {
      .home__title {
        font-size: 40px; } }
  .home__world {
    width: calc(100% - 400px);
    float: left;
    position: relative; }
    @media screen and (max-width: 767px) {
      .home__world {
        width: 100%;
        padding: 0; } }
  .home__world-image {
    width: 100%;
    float: left;
    height: auto; }
  @media screen and (max-width: 767px) {
    .home {
      margin-bottom: 0px;
      padding-bottom: 30px; } }

@-webkit-keyframes signal {
  0% {
    border: 1px solid black; }
  50% {
    border: 1px solid white; }
  100% {
    border: 1px solid black; } }

@keyframes signal {
  0% {
    border: 1px solid black; }
  50% {
    border: 1px solid white; }
  100% {
    border: 1px solid black; } }

.report__graph {
  width: calc(100% - 100px);
  float: right;
  position: relative; }

.report__graph-x {
  width: 100%;
  float: right;
  color: #9b9b9b; }
  .report__graph-x--center {
    text-align: center;
    padding: 20px 0; }

.report__graph-column {
  width: calc(100% / 7);
  float: left;
  margin-top: 10px;
  font-size: 12px; }

.report__graph-y {
  width: 100px;
  position: absolute;
  left: -130px;
  top: 50%;
  color: #9b9b9b;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg); }

.report__bar-init {
  height: 0 !important; }

.report__bar-green {
  background: #6eae7d;
  position: absolute;
  bottom: 0;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in; }

.report__bar-purple {
  background: #8d67a5;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  z-index: 2; }

.report__row {
  width: calc(100% + 50px);
  height: 2px;
  border-top: 1px solid #9b9b9b;
  position: relative;
  margin-bottom: 50px;
  left: -50px; }

.report__row-label {
  position: absolute;
  left: -1px;
  top: -7px;
  color: #9b9b9b;
  background: white;
  font-size: 10px;
  font-weight: 600;
  padding: 0 5px; }

.report__section {
  width: 100%;
  float: left;
  padding: 40px; }

.report__section-half {
  width: 50%;
  float: left;
  padding: 0 10px; }
  @media screen and (max-width: 767px) {
    .report__section-half {
      width: 100%;
      margin-bottom: 25px; } }
