.blog {
  width: 100%;
  float: left;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;

  &__bar {
    width: 2px;
    height: 100%;
    // background: black;
    position: absolute;
    top: 0;
    left: 250px;
    background: linear-gradient(white, black, white);

    @media screen and (max-width: breakpoint(tablet-lg)) {
      left: 200px;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      display: none;
    }
  }

  &__excerpt {
    width: calc(100% - 410px);
    float: left;
    line-height: 2;
    color: color(textColor);
    padding: 0 40px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    max-height: 160px;
    overflow: hidden;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      width: calc(100% - 360px);
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
      padding: 0;
    }
  }

  &__image {
    width: 160px;
    height: 160px;
    object-fit: cover;
    float: right;
    transition: 0.3s;

    @media screen and (max-width: breakpoint(tablet)) {
      height: 250px;
      width: 100%;
      margin-top: 20px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__left-wrap {
    display: block;
    text-decoration: none;
    width: 250px;
    float: left;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      width: 200px;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
    }
  }

  &__page {
    color: color(textColor);
    transition: 0.3s;
    text-decoration: none;

    &:hover {
      color: color(footer);
    }
  }

  &__page-prev {
    width: 34%;
    display: block;
    float: left;
    padding: 5px 0;

    @media screen and (max-width: breakpoint(tablet)) {
      width: 50%;
      text-align: left;
    }
  }

  &__page-next {
    width: 66%;
    display: block;
    float: left;
    text-align: center;
    padding: 5px 0;

    @media screen and (max-width: breakpoint(tablet)) {
      width: 50%;
      text-align: right;
    }
  }

  &__sidebar {
    width: 200px;
    float: right;
  }

  &__search {
    float: right;
    // padding: 8px 40px;
    padding: 11px 10px;
    background: color(footer);
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid color(footer);
    width: 150px;
    text-align: center;

    &:hover {
      background: white;
      color: color(footer);
    }
  }

  &__search-bar-wrap {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }

  &__search-input-hide {
    max-height: 0;
    padding: 0 !important;
    border: none !important;
  }

  &__search-input {
    width: 100%;
    float: left;
    border: none;
    font-size: 16px;
    color: color(footer);
    padding: 5px;
    outline: none;
    transition: 0.3s;
  }

  &__search-item {
    width: 100%;
    float: left;
    padding: 10px 20px;
    display: block;
    color: color(textColor);
    transition: 0.3s;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: color(footer);
    }
  }

  &__search-item-wrap {
    border: 1px solid color(footer);
    border-radius: 3px;
    max-height: 300px;
    width: 100%;
    float: left;
    transition: 0.3s;
  }

  &__submit {
    display: none;
  }

  &__time {
    width: 100%;
    float: left;
    color: color(textColor);
    font-size: 12px;
    text-transform: uppercase;

    b {
      font-weight: 500;
    }
  }

  &__title {
    width: 100%;
    font-size: 24px;
    float: left;
    margin-bottom: 10px;
    color: color(footer);
    padding-right: 10px;
    line-height: 1.4;

    @media screen and (max-width: breakpoint(phone-lg)) {
      padding: 0;
    }
  }

  &__wrap {
    width: calc(100% - 200px);
    float: left;
    position: relative;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      width: 100%;
    }
  }

  &__x {
    display: block;
    position: absolute;
    top: 9px;
    cursor: pointer;
    right: 0;
    width: 12px;
    height: 12px;
    object-fit: contain;
  }

  &__img {
    img {
      width: 100%;
    }

    &-text {
      font-size: 10px;
    }
  }

  &__nav {
    display: flex;

    &-btn {
      width: 25%;
      display: flex;
      align-items: center;
      color: #383535 !important;
      line-height: 1.5;

      img {
        width: 45px;
        padding: 0 10px;
      }

      &:nth-of-type(2) {
        justify-content: flex-end;
      }
    }

    &-spacer {
      width: 50%;
    }
  }
}

.section {
  &__puzzle {
    p {
      position: relative;
      left: 35px;
    }

    .table_contents li {
      position: relative;
      list-style-type: none;
      left: 15px;

      &::before {
        content: '';
        position: absolute;
        display: block;
        background-image: url('../images/square_icon.png');
        top: 3px;
        left: -30px;
        height: 20px;
        width: 20px;
        background-size: cover;
      }

      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    ul {
      position: relative;
      left: 35px;

      li {
        list-style-type: disc;
      }
    }

    ul > li > ul {
      left: 15px;

      li {
        list-style-type: circle;
      }
    }
  }
}

strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.indent__left {
  padding-left: 45px;
}
