.blog-detail {

	&__article {
		font-size: 10px;
		color: color(footer);
		line-height: 2;
	
		p {
			margin-bottom: 20px;
		}
	}

	&__back {
		float: left;
		padding: 0 20px;
		position: relative;
		color: color(textColor);
		text-decoration: none;
		display: block;
		font-size: 11px;
		margin-bottom: 100px;
		transition: .3s;
	
		&:hover {
			color: color(footer);
		}
	}

	&__back-icon {
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		left: 0;
		top: 1px;
	}
	
	&__content {
		width: 60%;
		float: left;
		padding-right: 60px;
	}
	
	&__hero {
		width: 100%;
		height: auto;
		margin-bottom: 30px;
	}

	&__side {
		width: 40%;
		float: left;
	}

	&__time {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		color: color(textColor);
		font-size: 14px;
	}

	&__title {
		width: 100%;
		float: left;
		font-size: 60px;
		font-weight: 500;
	}
}
