.coord {
  &--miami01 {
    left: calc(19% - 15px);
    top: calc(40% - 15px);
  }

  &--korea01 {
    left: calc(84% - 15px);
    top: calc(32% - 15px);
  }

  &--dallas01 {
    left: calc(14% - 15px);
    top: calc(34% - 15px);
  }

  &--guadala01 {
    left: calc(11.5% - 15px);
    top: calc(43% - 15px);
  }

  &--guadala01 {
    left: calc(11.5% - 15px);
    top: calc(43% - 15px);
  }

  &--santiago01 {
    left: calc(23% - 15px);
    top: calc(79% - 15px);
  }

  &--hongkong01 {
    left: calc(81.5% - 15px);
    top: calc(42% - 15px);
  }

  &--bogota01 {
    left: calc(20.5% - 15px);
    top: calc(54% - 15px);
  }

  &--johannes01 {
    left: calc(52.5% - 15px);
    top: calc(79% - 15px);
  }

  &--tokyo01 {
    left: calc(87% - 15px);
    top: calc(33% - 15px);
  }

  &--pdx01 {
    left: calc(7.5% - 15px);
    top: calc(27% - 15px);
  }

  &--sjc01 {
    left: calc(7.5% - 15px);
    top: calc(34% - 15px);
  }

  &--slc01 {
    left: calc(11% - 15px);
    top: calc(30% - 15px);
  }

  &--ord2 {
    left: calc(19% - 15px);
    top: calc(29% - 15px);
  }

  &--iad01 {
    left: calc(21% - 15px);
    top: calc(30% - 15px);
  }

  &--yul01 {
    left: calc(24% - 15px);
    top: calc(24% - 15px);
  }

  &--dub01 {
    left: calc(42% - 15px);
    top: calc(20% - 15px);
  }

  &--fra01 {
    left: calc(46.2% - 15px);
    top: calc(23% - 15px);
  }

  &--bom01 {
    left: calc(67.5% - 15px);
    top: calc(43.5% - 15px);
  }

  &--bir01 {
    left: calc(69.5% - 15px);
    top: calc(49.5% - 15px);
  }

  &--sin01 {
    left: calc(78% - 15px);
    top: calc(56% - 15px);
  }

  &--syd01 {
    left: calc(91% - 15px);
    top: calc(83% - 15px);
  }

  &--lag01 {
    left: calc(45% - 15px);
    top: calc(54% - 15px);
  }

  &--san01 {
    left: calc(7% - 15px);
    top: calc(31.5% - 15px);
  }

  &--aires01 {
    left: calc(26% - 15px);
    top: calc(84% - 15px);
  }

  &--sao01 {
    left: calc(28% - 15px);
    top: calc(77% - 15px);
  }

  &--mxcity01 {
    left: calc(12.5% - 15px);
    top: calc(46% - 15px);
  }
}
