.donate {
  width: 100%;
  float: left;
  max-width: 700px;
  position: relative;

  &__info {
    width: 100%;
    float: left;
    font-size: 20px;
    color: color(footer);
    margin-bottom: 24px;
    border-bottom: 1px solid transparent;
    position: relative;
    min-height: 61px;
  }

  &__half {
    width: 50%;
    float: left;
    padding-right: 40px;

    @media screen and (max-width: breakpoint(phone-lg)) {
      width: 100%;
      padding: none;
		}
  }

  &__quarter {
    width: 25%;
    float: left;
    padding-right: 40px;

    @media screen and (max-width: breakpoint(phone-lg)) {
      width: 100%;
      padding: none;
		}
  }

  &__title {
    width: 100%;
    float: left;
    // color: color(footer);
    color: color(gray);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 24px;
  }



  &__button {
    display: block;
    padding: 6px 0px;
    text-align: center;
    border-radius: 2px;
    color: color(textColor);
    border: 1px solid color(textColor);
    width: 100px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    &:first-of-type {
      margin-right: 15px;
    }

    &__wrapper {
      display: flex;
    }

    &--active {
      background-color: color(blue);
      color: white;
      border: 1px solid color(blue);
    }

    &--submit {
      background-color: color(black);
      color: white;
      border: 1px solid color(black);
      float: left;
    }
  }

  &__error {
    color: red;
  }

  &__input {
    display: none;
    border: 0;
    // border-bottom: 1px solid color(black);
    color: color(blue);
    font-size: 20px;
    width: 150px;
    height: 34px;
    outline: 0;
    padding: 0;
    margin: 0;
    padding-left: 23px;

  }

  &__cash {
    position: absolute;
    font-size: 20px;
    color: color(blue);
    top: 6px;
    left: 121.5px;
  }

  &__underline {
    position: absolute;
    background-color: color(textColor);
    width: 144.94px;
    height: 1px;
    top: 29px;
    left: 110px;
  }

  &__country {
    display: block;
    float: left;
    margin-bottom: 24px;
    border: 0;
    outline: 0;
    // border-bottom: 1px solid color(textColor);
    color: color(textColor);
    font-size: 13px;
    padding-bottom: 5px;
    background-color: transparent;
    border-radius: 0;
    // background-image: url("../images/arrow-down.png");
    // background-repeat: no-repeat;
    // background-size: 20px;
    // background-position: 100% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;

    &--bar {
      position: absolute;
      bottom: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: color(textColor);
    }
  }
}

#error-message {
  position: absolute;
  bottom: 35px;
  left: 0;
}

#donation-processing {
  position: absolute;
  bottom: 5px;
  left: 125px;
}

.relative {
  position: relative;
  float: left;
}

.arrow-bg {
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 100% 10%;
}