.dropdown {
	width: 100%;
	float: left;
	max-height: 0;
	overflow: scroll;
	transition: .3s;
	background: white;
	position: absolute;
	top: 40px;
	z-index: 300;

	&__arrow {
		width: 11px;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 0;
		width: 15px;
		height: 15px;
		pointer-events: none;
	}

	&__close-right {
		width: 19px;
		height: 2px;
		background: black;
		position: absolute;
		top: 3px;
		right: 0;
		transform: rotateZ(-45deg);
		transition: .3s;
		transform-origin: 80% 0%;
	}

	&__close-left {
		width: 19px;
		position: absolute;
		top: 3px;
		left: 0;
		height: 2px;
		background: black;
		transform: rotateZ(45deg);
		transition: .3s;
		transform-origin: 20% 40%;
	}

	&__input {
		font-size: 24px;
		width: 100%;
		float: left;
		border: none;
		border-bottom: 1px solid color(textColor);
		padding: 5px 20px 5px 5px;
		cursor: pointer;
	}

	&__item {
		width: 100%;
		float: left;
		font-size: 24px;
		cursor: pointer;
		padding: 10px;

		&:hover {
			border-bottom: 1px solid color(textColor);
		}
	}


	&__show {
		max-height: 300px;;
	}

	&__wrap {
		width: 100%;
		float: left;
		position: relative;
	}
}
