.home {
  width: 100%;
  float: left;
  padding: 350px 0; //150px 0;

  &__blog {
    width: 100%;
    float: left;
    margin-top: 20px;

    &--wrap {
      width: 100%;
      float: left;

      @media screen and (max-width: breakpoint(tablet)) {
        padding: 20px 20px 40px 20px;
      }
    }
  }

  &__blog-image__wrap {
    margin-top: 75px;
    width: 480px;
    height: 480px;
    float: left;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      width: 300px;
      height: 300px;
      margin-top: 30px;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
    }
  }

  &__blog-image {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    display: block;
  }

  &__blog-p {
    width: 50%;
    max-width: 410px;
    font-size: 14px;
    color: color(textColor);
    line-height: 1.7;
    float: left;
    padding-left: 80px;

    @media screen and (max-width: breakpoint(tablet)) {
      margin-top: 20px;
      padding-left: 0;
      width: 100%;
      max-width: none;
    }
  }

  &__blog-title {
    width: calc(100% - 480px);
    color: color(footer);
    font-size: 24px;
    margin-bottom: 40px;
    float: right;
    padding-left: 80px;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      width: calc(100% - 300px);
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
      padding: 0;
      text-align: right;
    }
  }

  &__emph {
    color: color(footer);
  }

  &__frame {
    width: 100%;
    float: left;
    height: 650px;
    border: none;
  }

  &__item {
    color: color(footer);
    float: left;
    padding-bottom: 10px;
    font-size: 13px;
  }

  &__info {
    float: left;
    padding-bottom: 10px;
    font-size: 13px;
    color: color(textColor);
    padding-right: 5px;
  }

  &__location {
    width: 30px;
    height: 30px;
    // border-radius: 15px;
    position: absolute;
    transition: 0.3s;
    // border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;

    &.active {
      // animation: signal 1.5s infinite linear;
      // animation: ripple 2s linear 0s infinite;
    }

    &.slow-active {
      // animation: signalSmall 2.5s infinite linear;
      // animation: ripple 2s linear 1s infinite;
    }

    &--multiple {
      left: -6px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      position: absolute;
      top: -6px;
      border: 1px solid rgba(0, 0, 0, 0);
      cursor: pointer;

      &.active {
        animation: signalLarge 1.5s infinite linear;
      }
    }

    &--outer {
      // left: -6px;
      // position: absolute;
      // width: 40px;
      // border-radius: 20px;
      // height: 40px;
      // top: -6px;
      // border: 1px solid rgba(0, 0, 0, 0);
      cursor: pointer;
      z-index: -1;

      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: calc(50% - 4px);
      top: calc(50% - 4px);
      background: color(inactiveDot);
      transition: 0.3s;

      &.active {
        // 1. animation: signalLarge 2.5s infinite linear;
        // 2. animation: signalMed 1.5s infinite linear;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -3px;
          right: 0;
          bottom: 0;
          left: -3px;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          // animation: ripple 2s linear 1s infinite;
          animation: ripple-outer 1.5s linear 0.5s infinite;
          border: 1px solid #65a1c7;
        }
      }
    }
  }

  &__location-ball {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    background: color(inactiveDot);
    transition: 0.3s;

    &.active {
      background: color(activeDot);

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        // top: -7.5px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // left: -7.5px;
        border-radius: 50%;
        // border: 1px solid #65a1c7;
        // width: 20px;
        // height: 20px;
        z-index: -1;
      }

      &:before {
        animation: ripple 1.5s linear 0s infinite;
        // animation: ripple 2s linear 0s infinite;
        border: 1px solid #65a1c7;
      }
      &:after {
        // animation: ripple 2s linear 1s infinite;
        // border: 1px solid #65a1c7;
      }
    }
  }

  &__section {
    width: 100%;
    float: left;
    padding: 40px 56px;
    position: relative;

    &--clear {
      @media screen and (max-width: breakpoint(tablet)) {
        padding: 40px 0;
      }
    }

    @media screen and (max-width: breakpoint(tablet)) {
      padding: 40px 20px;
    }
  }

  &__sidebar {
    width: 382px;
    float: right;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      width: 275px;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
      margin-top: 150px;
    }
  }

  &__sidebar-title {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    font-size: 112px;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      font-size: 60px;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      font-size: 45px;
      margin-top: 45px;
    }
  }

  &__sidebar-sub-title {
    width: 100%;
    float: left;
    color: color(footer);
    margin-bottom: 40px;
    font-size: 24px;
  }

  &__sidebar-wrap {
    width: 100%;
    float: left;
    display: none;

    &.show {
      display: block;
    }
  }

  &__signal {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    border: 1px solid color(textColor);
    animation: signal 1.5s infinite linear;

    @media (max-width: 650px) {
      top: 76.5px;
    }
  }

  &__signal-bar {
    width: 2px;
    height: 200px; //120px;
    bottom: 0;
    position: absolute;
    left: calc(50% - 1px);
    background: linear-gradient(black, white);

    @media (max-width: 650px) {
      height: 125px;
    }
  }

  &__signal-ball {
    width: 15px;
    height: 15px;
    position: absolute;
    left: calc(50% - 7.5px);
    background: black;
    border-radius: 7.5px;
    top: 12.5px;

    @media (max-width: 650px) {
      top: 90px;
    }
  }

  &__signal-wrap {
    width: 40px;
    height: 220px; //140px;
    position: absolute;
    left: 30%;
    top: -230px; //-150px;
  }

  &__signal-flip {
    transform: rotate(180deg);
    top: auto;
    bottom: -230px; //-150px;
  }

  &__spacer {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }

  &__sub-title {
    width: 100%;
    float: left;
    color: color(textColor);
    font-size: 16px;
    line-height: 1.5;
  }

  &__title {
    width: 100%;
    font-size: 112px;
    // font-size: 11.2vh;
    margin-bottom: 20px;
    float: left;

    &--right {
      text-align: right;
    }

    @media screen and (max-width: breakpoint(tablet-lg)) {
      font-size: 60px;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      font-size: 50px;
    }
  }

  &__world {
    width: calc(100% - 510px);
    float: left;
    position: relative;

    @media screen and (max-width: breakpoint(tablet-lg)) {
      width: calc(100% - 315px);
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
      padding: 0;
    }
  }

  &__world-image {
    width: 100%;
    float: left;
    height: auto;
  }

  @media screen and (max-width: breakpoint(tablet)) {
    margin-bottom: 0px;
    padding-bottom: 30px;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  75% {
    transform: scale(1.75);
    // transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    // transform: scale(5);
    opacity: 0;
  }
}
@keyframes ripple-outer {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  75% {
    transform: scale(1.75);
    // transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    // transform: scale(5);
    opacity: 0;
  }
}

@keyframes signal {
  0% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  50% {
    border: 1px solid color(activeDot);
  }
  100% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

@keyframes signalSmall {
  0% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  // 50
  30% {
    border: 1px solid color(activeDot);
  }
  // 70
  60% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  100% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

@keyframes signalMed {
  0% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  40% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  60% {
    border: 1px solid color(activeDot);
  }
  90% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

@keyframes signalLarge {
  0% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  50% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  60% {
    border: 1px solid color(activeDot);
  }
  100% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
}
