.how {
	width: 100%;
	float: left;
	border-top: 1px solid color(footer);
	padding-bottom: 20px;

	&__image {
		// padding: 40px;
		padding-top: 0;
		width: 100%;
		height: 200px;
		object-fit: contain;

		&--rock {
			max-width: 220px;
			margin: 0 auto;
			display: block;
		}
	}

	&__sub-title {
		width: 100%;
		font-weight: 600;
		color: color(footer);
		font-size: 16px;
		margin-bottom: 25px;
		float: left;
		
		@media screen and (max-width: breakpoint(tablet)) {
			margin-bottom: 15px;
		}
	}


	&__title {
		color: color(footer);
		font-weight: 600;
		font-size: 24px; //20px;
		width: 100%;
		float: left;
		margin-bottom: 30px;
		margin-top: 15px;
		line-height: 1.5;
	}

	&__t {
		line-height: 1.5;
		color: color(footer);
		font-weight: 600;
		font-size: 24px;
		width: 100%;
		float: left;
		margin-bottom: 30px;
		margin-top: 15px;
	}

	&__third {
		width: 33.33%;
		float: left;
		padding-right: 20px;
		line-height: 2;
		font-size: 14px;
		font-weight: 600;
		color: color(footer);

		@media screen and (max-width: breakpoint(tablet)) {
			width: 100%;
			padding-right: 0;
			margin-bottom: 20px;
		}
	}

	&__list {
		padding-left: 20px;
		line-height: 1.5;
		margin-top: 10px;

		a {
			text-decoration: none;
			color: color(link);
		}

		&--p {
			width: 100%;
			float: left;
			padding-left: 80px;
			margin-bottom: 20px;
		}
	}

	&__full {
		width: 100%;
		float: left;
	}

	&__p {
		width: 100%;
		float: left;
		line-height: 2;
		font-size: 16px;
		color: color(footer);
		margin-bottom: 20px;

		b {
			font-weight: 600;
		}

		a {
			text-decoration: none;
			color: color(link);
		}
	}

	&__paragraph {
		font-size: 16px;

		a {
			text-decoration: none;
			color: color(link);
		}
	}

}
