.select-style {
    // border: 1px solid #ccc;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid color(textColor);
    background-color: transparent;
    background-image: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 100% 50%;
    margin-right: 10px;
}

.select-style select {
    padding: 5px 8px;
    font-size: 20px;
    color: color(blue);
    width: 140px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

// .select-style select:focus {
//     outline: none;
// }